body {
  font: 400 16px/1.5 "Avenir Next";
  background-color: powderblue;
}

.site-nav {
  margin-right: 100px;
}

.site-header {
  border: none;
  background-color: white;
}

.site-footer {
  border: none;
  background-color: white;
}
